{# SE DEFINE UNA VARIABLE DENTRO DE TWIG #}
{% set nom_usuario = "Mardxc" %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<!-- MAIN STYLES -->
		<link href="css/main.css" rel="stylesheet">
		<!-- VENDOR TOGGLE MENU -->
		<link rel="stylesheet" href="vendor/toggle_menu_button/css/toggle_menu.css">
		<!-- SIDEBAR MENU -->
		<link rel="stylesheet" href="vendor/sidebar-menu-hover-show/css/sidebar-menu.css">
		<!-- BOOTSTRAP -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!-- JQUERY -->
		<script src="js/jquery-3.4.1.min.js"></script>
		<!-- BOOTSTRAP -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
		<!-- FONT AWESOME -->
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<!-- DATATABLES -->
		{#<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet"/>
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>
		<link href="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css" rel="stylesheet"/>

		<!-- PRUEBAS CON DATATABLES-->
		<!-- SCROLL TABLE CON FILTRADO -->
			<!--<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/datatables.min.js"></script>-->
		<!-- SCROLL TABLE CON FILTRADO -->
#}
<!--
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/b-1.6.1/b-flash-1.6.1/fc-3.3.0/fh-3.1.6/r-2.2.3/sc-2.0.1/datatables.min.css"/>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/b-1.6.1/b-flash-1.6.1/fc-3.3.0/fh-3.1.6/r-2.2.3/sc-2.0.1/datatables.min.js"></script>

-->
		<!-- DATATABLE PARA DESCARGAR EN https://datatables.net/download/ SE PUEDE ESCOGER QUE PLUGINS SE QUIERE PARA LA DATATABLE JSZIP ES EL QUE EXPORTA A EXCEL-->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.css"/>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>		

		<title>B&B Apparel</title>
	</head>
	<body>
		<!-- NAVBAR -->

		<!--<nav class="main-menu" style="position: fixed;">
			{% block menu_lateral %}{% endblock %}
		</nav>-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <a class="navbar-brand" href="#">B&B Apparel</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarColor01">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="?route=admin&controller=administracion">Configuración <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">{{usuario}}</a>
		      </li>
		  </div>
		</nav>
		<!-- NAVBAR -->	
		{# MENU SUPERIOR #}
		<input type='checkbox' id='mmeennuu' checked>
		<label class='menu' for='mmeennuu'>
			<div class='barry'>
				<span class='bar'></span>
				<span class='bar'></span>
				<span class='bar'></span>
				<span class='bar'></span>
			</div>	
			<ul>
				<li><a id='about' href='?route=reg_diario&controller=reg_diario'>Registro</a></li>
				<li><a id='reporte' href='?route=reporte&controller=rep_semanal'>Reportes</a></li>
				<li disabled readonly><a id='home'>Configuración</a></li>
				<!--<li><a id='home' href='?route=admin&controller=administracion'>Administracion</a></li>-->
			</ul>
		</label>
		{# MENU SUPERIOR #}
		{# {% block menu_navegacion %}{% endblock %} #}
		<div class="row" style="margin: 0% 5%;">
			{#<div class="row">#}
				{% block contenido_principal %}{% endblock %}
			{#</div>#}
		</div>
		<!-- VUEJS -->
		{# PRODUCTION #}
		{#<script src="https://cdn.jsdelivr.net/npm/vue"></script>#}
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
		<script src="js/app.js"></script>
		<!-- JS CAMBIANTES POR SECCION -->
		
		{% block contenido_js %}{% endblock %}
	</body>
</html>