{% extends 'main.twig' %}







{% block contenido_principal %}
	<div id="app_create_reg_diario" style="width: 100% !important;">
		<div class="col-md-12">
			<table id="tb_create_proveedores" class="table table-hover" >
				<thead class="table-bordered" style="background-color: #333 !important; color: white !important; border-radius: 3px !important;">
					<tr>
						<th>Proveedor</th>
						<th>Ruta</th>
					</tr>
				</thead>
				<tbody class="table-bordered" style="border-color: #fff !important;">
					<tr v-on:click="seleccionar_ruta(proveedor_ruta.id_ruta)" v-for="proveedor_ruta in proveedores_rutas" v-bind:class="proveedor_ruta.id_ruta==registro_diario.id_ruta ? 'alert-info':'' ">
						<th v-text="proveedor_ruta.nombre"></th>
						<td v-text="proveedor_ruta.ruta"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-12">
			<div class="col-md-12">&nbsp;</div>
			<div class="form-row">
				<div class="form-group col-lg-4"></div>
				<div class="form-group col-lg-4 col-sm-12 col-xs-12">
					<label>Fecha</label>
					<input type="date" @change="onChange($event)" name="reg_fecha" id="reg_fecha" class="form-control" required="required" v-model="registro_diario.fecha_registro">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-lg-6 col-sm-12 col-xs-12">
					<label>Proveedor</label>
					<select name="reg_proveedor" class="custom-select" id="reg_proveedor" required="required" v-model="registro_diario.id_proveedor" disabled>
						<option v-bind:value="proveedor.id_proveedor" v-text="proveedor.nombre" v-for="proveedor in proveedores"></option>
					</select>
				</div>
				<div class="form-group col-lg-6 col-sm-12 col-xs-12">
					<label>Ruta</label>
					<select name="reg_ruta" class="custom-select" id="reg_ruta" required="required" v-model="registro_diario.id_ruta" disabled>
						<option v-bind:value="ruta.id_ruta" v-text="ruta.nombre" v-for="ruta in rutas"></option>
					</select>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-xs-2 col-lg-2 col-form-label">Capacidad</label>
				<div class="col-sm-10 col-xs-10 col-lg-4">
					<input type="number" class="form-control" id="reg_capacidad" name="reg_capacidad" placeholder="Capacidad" required="required" v-model="registro_diario.cantidad_ordinaria" readonly>
				</div>
				<label class="col-sm-2 col-xs-2 col-lg-2 col-form-label">Entrada de personal</label>
				<div class="col-sm-10 col-xs-10 col-lg-4">
					<input type="number" class="form-control" id="reg_entradas" name="reg_entradas" placeholder="Personas que trajo el transporte" required="required" v-model="registro_diario.personal_recibido">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-xs-2 col-lg-2 col-form-label">Hora esperada</label>
				<div class="col-sm-10 col-xs-10 col-lg-4">
					<input type="time" class="form-control" id="reg_hora_esperada" required="required" name="reg_hora_esperada" placeholder="Hora a la que se espera el transporte" v-model="registro_diario.hora_esperada" readonly>
				</div>
				<label class="col-sm-2 col-xs-2 col-lg-2 col-form-label">Hora de llegada</label>
				<div class="col-sm-10 col-xs-10 col-lg-4">
					<input type="time" class="form-control" id="reg_hora_llegada" required="required" name="reg_hora_llegada" placeholder="Hora a la que llega el transporte" v-model="registro_diario.hora_llegada">
				</div>
			</div>

			<div class="form-row">
				<input type="hidden" name="id_det_asistencia" id="id_det_asistencia" v-model="registro_diario.id_det_asistencia">
				<input type="hidden" name="id_comentario" id="id_comentario" v-model="registro_diario.id_comentario">
				<input type="hidden" name="id_usuario" id="id_usuario" v-model="registro_diario.id_usuario">
				<input type="hidden" name="id_asistencia" id="id_asistencia" v-model="registro_diario.id_asistencia">
				<div class="form-group col-lg-8 col-sm-12 col-xs-12">
					<label>Comentarios:</label>
					<textarea name="reg_comentarios" id="reg_comentarios" class="form-control" rows="3" required="required" v-model="registro_diario.descripcion"></textarea>
				</div>
				<div class="form-group col-lg-4 col-sm-12 col-xs-12 align-self-end" style="text-align: right;">
					<button type="submit" class="btn btn-primary" onclick="guardar_registro_diario()">Guardar</button>
					<span class="btn btn-danger">Cancelar</span>
				</div>
			</div>
		</div>
		<br><br><br>
	</div>
{% endblock %}
{% block contenido_js %}
	<script src="js/reg_diario/create.js"></script>
{% endblock %}